@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gold: #e3b737;
    --gold-dark: #b87316;
    --green-darkest: #2b2f22;
}

* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--green-darkest)
}