@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gold: #e3b737;
    --gold-dark: #b87316;
    --green-darkest: #2b2f22;
}

* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #b87316 #3b3b3b;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #3b3b3b;
}

*::-webkit-scrollbar-thumb {
    background-color: #b87316;
    border-radius: 100px;
    border: 5px double #ffffff;
}


body {
    height: 100%;
    width: 100%;
    background-color: var(--green-darkest)
}

.preview-image {
    height: 100px;
    width: 100px;
    border: solid 1px #ddd;
    margin: 10px;
    object-fit: cover;
}