<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/media/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tolkien Hub | Admin Dashboard</title>
        <script src="/static//js/script.js" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                    colors: {
                        "gold": "#e3b737",
                        "gold-dark": "#b87316",
                        "green-darkest": "#2b2f22",
                        "green-dark": "#355a22",
                    },
                    fontFamily: {
                        "cinzel": "Cinzel",
                    }
                }
              },
              prefix: 'tw-',
            }
          </script>
    </head>
<body>

    <header class="tw-h-32 tw-w-full tw-fixed tw-top-0 tw-flex tw-flex-col tw-bg-green-darkest">
        <a href="{{ url_for('home') }}" class="tw-pb-8 tw-m-auto tw-text-white tw-text-5xl tw-font-cinzel">Tolkien Hub</a>
        <nav class="tw-h-8 tw-w-full tw-absolute tw-bottom-0 tw-flex">
            <li class="tw-w-full tw-flex tw-justify-center tw-items-center tw-bg-gold">
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">About</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Tolkien's Life</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Books</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Film Adaptations</a></ul>
                <ul class="tw-absolute tw-right-10"><a href="{{ url_for('edit_profile', username=user.username) }}"><img class="tw-h-6" src="/static/media/icons/profile.png" alt="A profile icon."></a></ul>
                <ul class="tw-absolute tw-right-2"><a href="#"><img class="tw-h-6 hover:tw-rotate-45 tw-transition-transform tw-duration-500" src="/static/media/icons/settings-wheel.png" alt="A settings cog icon."></a></ul>
            </li>
        </nav>
    </header>

    <main 
        id="main-container"
        class="tw-h-full tw-flex tw-flex-col tw-items-center tw-border-t tw-border-white tw-mx-36 tw-mt-44 tw-text-black">
        <div
            id="user-list"
            class="tw-h-full tw-w-auto tw-p-2 tw-border tw-border-white tw-rounded-xl tw-mt-10 tw-bg-white tw-overflow-y-scroll">
            <div class="tw-grid tw-grid-cols-5 tw-divide-x tw-divide-gold tw-border-b tw-border-b-gold">
                <p class="tw-text-center">Profile Picture</p>
                <p class="tw-text-center">User ID</p>
                <p class="tw-text-center">Role</p>
                <p class="tw-text-center">Email</p>
                <p class="tw-text-center">Username</p>
            </div>
            {% for user in users %}
                <a
                    class="tw-w-full tw-block hover:tw-bg-gray-200"
                    href="{{ url_for('edit_profile', username=user[2]) }}">
                    <div class="tw-grid tw-grid-cols-5 tw-items-center tw-border-t tw-border-gray-200">
                        {% if users[user] %}
                            <div class="tw-w-full">
                                <img
                                    id="user-user-pfp"
                                    class="tw-h-10 tw-aspect-square tw-m-1 tw-rounded-full tw-border tw-mx-auto tw-border-black"
                                    src="data:image/png;base64,{{ users[user] }}"
                                    alt="User Profile Picture">
                            </div>
                        {% else %}
                            <div>
                                <img
                                    id="user-user-pfp"
                                    class="tw-h-10 tw-aspect-square tw-m-1 tw-rounded-full tw-border tw-mx-auto tw-border-black"
                                    src="/static/media/images/user-placeholder.png"
                                    alt="User Profile Picture">
                            </div>
                        {% endif %}
                        <p
                            id="user-uid"
                            class="tw-h-full tw-p-1 tw-border-l tw-border-gold">
                            {{ user[0] }}
                        </p>
                        <p
                            id="user-role"
                            class="tw-h-full tw-p-1 tw-border-l tw-border-gold {% if user[3] == 'Admin' %}tw-text-red-600{% elif user[3] == 'User' %}tw-text-neutral-400{% endif %} tw-font-bold">
                            {{ user[3] }}
                        </p>
                        <p
                            id="user-email"
                            class="tw-h-full tw-p-1 tw-border-l tw-border-gold">
                            {{ user[1] }}
                        </p>
                        <p
                            id="user-username"
                            class="tw-h-full tw-p-1 tw-border-l tw-border-gold">
                            {{ user[2] }}
                        </p>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </main>
    
</body>
</html>