<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tolkien Hub | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
                colors: {
                    "gold": "#e3b737",
                    "gold-dark": "#b87316",
                    "green-darkest": "#2b2f22",
                    "green-dark": "#355a22",
                },
                fontFamily: {
                    "cinzel": "Cinzel",
                }
            }
          },
          prefix: 'tw-',
        }
      </script>
</head>
<body>

    <header class="tw-h-32 tw-w-full tw-fixed tw-top-0 tw-flex tw-flex-col tw-bg-green-darkest">
        <a href="{{ url_for('home') }}" class="tw-pb-8 tw-m-auto tw-text-white tw-text-5xl tw-font-cinzel">Tolkien Hub</a>
        <nav class="tw-h-8 tw-w-full tw-absolute tw-bottom-0 tw-flex">
            <li class="tw-w-full tw-flex tw-justify-center tw-items-center tw-bg-gold">
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">About</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Tolkien's Life</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Books</a></ul>
                <ul class="tw-p-2 tw-mx-5 hover:tw-text-red-800"><a href="#">Film Adaptations</a></ul>
                <ul class="tw-absolute tw-right-10"><a href="#"><img class="tw-h-6" src="/static/media/profile.png" alt="A profile icon."></a></ul>
                <ul class="tw-absolute tw-right-2"><a href="#"><img class="tw-h-6 hover:tw-rotate-45 tw-transition-transform tw-duration-500" src="/static/media/settings-wheel.png" alt="A settings cog icon."></a></ul>
            </li>
        </nav>
    </header>

    <main class="tw-h-auto tw-w-10/12 tw-flex tw-flex-col tw-items-center tw-border tw-border-white tw-mt-44 tw-mx-auto">

        <div id="form-container" class="tw-h-auto tw-w-max tw-self-center tw-flex tw-mx-auto tw-bg-red-300 tw-text-white">

            <div class="tw-h-80 tw-w-max tw-absolute tw-rounded-t-3xl tw-bg-green-900">
                <h2 class="tw-text-2xl tw-text-center">Register</h2>
                <form
                    id="signup-form"
                    class="tw-flex tw-flex-col"
                    action="{{ url_for('signup') }}"
                    method="post">
                    <label
                        class="tw-w-4/5 tw-relative tw-flex tw-flex-row tw-mx-auto"
                        for="email">Email
                    <input
                        class="tw-w-64 tw-absolute tw-right-0 tw-p-1 tw-border-b tw-rounded-lg tw-outline-none tw-bg-green-800"
                        name="email"
                        type="email"
                        required></label>
                    <label
                        class="tw-w-4/5 tw-relative tw-flex tw-flex-row tw-mx-auto tw-my-8"
                        for="username">Username
                    <input
                        class="tw-w-64 tw-absolute tw-right-0 tw-p-1 tw-border-b tw-rounded-lg tw-mx-auto tw-outline-none tw-bg-green-800"
                        name="username"
                        type="text"
                        required></label>
                    <label
                        class="tw-w-4/5 tw-relative tw-flex tw-flex-row tw-mx-auto"
                        for="password">Password
                    <input
                        class="tw-w-64 tw-absolute tw-right-0 tw-p-1 tw-border-b tw-rounded-lg tw-mx-auto tw-outline-none tw-bg-green-800"
                        name="password"
                        type="password"
                        required></label>
                    <button class="tw-w-72 tw-p-2 tw-rounded-sm tw-mx-auto tw-my-8 tw-bg-gold tw-text-black hover:tw-bg-gold-dark tw-transition-all" type="submit">Sign Up</button>
                </form>
            </div>

            <div class="tw-h-80 tw-w-96 tw-absolute tw-rounded-t-3xl tw-bg-green-900">
                <div
                    id="login-form-switch"
                    class="tw-h-4 tw-w-48">
                    Sign In
            </div>
                <h2 class="tw-text-2xl tw-text-center">Sign In</h2>
                <form
                    id="login-form"
                    class="tw-flex tw-flex-col"
                    action="{{ url_for('login') }}"
                    method="post"
                    >
                    <label for="email">Email</label>
                    <input
                        class="tw-w-80 tw-bg-green-800 tw-border-b tw-rounded-lg tw-mx-auto tw-outline-none"
                        name="email"
                        type="email"
                        required>
                        <label for="password">Password</label>
                    <input
                        class="tw-w-80 tw-bg-green-800 tw-border-b tw-rounded-lg tw-mx-auto tw-outline-none"
                        name="password"
                        type="password"
                        required>
                    <button class="tw-w-72 tw-p-2 tw-rounded-sm tw-mx-auto tw-my-8 tw-bg-gold tw-text-black hover:tw-bg-gold-dark tw-transition-all" type="submit">Log In</button>
                    </form>
                </div>

        </div>

    </main>

</body>
</html>